# --index-url http://127.0.0.1:8008/root/freeds/
requests
PyYAML
boto3
papermill
GitPython
cowsay
ipykernel
pandas
docker
freeds

# freeds-config
Flask
flask-smorest
marshmallow
PyYAML
gunicorn
requests

# dev
black
isort
mypy
pytest
ruff
pre-commit