--index-url http://127.0.0.1:8008/root/tfds/
pytest
requests
PyYAML
boto3
papermill
GitPython
cowsay
ipykernel
pandas
docker


# tfds-config
Flask
flask-smorest
marshmallow
PyYAML
pytest
gunicorn
requests
